{% extends "layouts/theme" %}

{% block content %}
  <section class="post__archive">
    {% for post in posts %}
      <article class="post post--{{ post.id }}">
        <a href="{{ post.url }}" class="post__title">{{ post.title }}</a>
        <div class="post__content">{{ post.content }}</div>
      </article>
    {% endfor %}
  </section>
  {% include 'snippets/pagination' %}
{% endblock %}