{% extends "layouts/theme" %}

{% block content %}
  <section class="post__archive">
    {% for post in posts %}
      <article class="post post--{{ post.ID }}">
        <a href="{{ post.guid }}" class="post__title">{{ post.post_title }}</a>
        <div class="post__content">{{ post.post_content }}</div>
      </article>
    {% endfor %}
  </section>
  {% include 'snippets/pagination' %}
{% endblock %}