<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include 'snippets/globals/header' %}
    {% block content %}{% endblock %}
    {% include 'snippets/globals/footer' %}
    {% block scripts %}{% endblock %}
  </body>
</html>