<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
  </head>
  <body>
    {% for i in (1..5) %}
      {% if i == 4 %}
        {% break %}
      {% else %}
        {{ i }}
      {% endif %}
    {% endfor %}
  </body>
</html>